<div class="container">
    <h2 class="text-center text-success b">Courses List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Course StartDate</th>
                <th>Course EndDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let course of courses">
            <td> {{course.courseId}} </td>
            <td> {{course.courseName}} </td>
            <td> {{course.startDate}} </td>
            <td>{{course.endDate}}</td>
            <td><button (click)="deleteCourse(course.courseId)" class="btn btn-danger">Delete</button>
            <button (click)="updatecourse()" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
        </tbody>
        <button (click)="goback()" class="btn btn-info" style="margin-left: 10px">Goback</button>
    </table>

   
</div>
<router-outlet></router-outlet>
